{% extends "base.html" %}

{% block title %}
<h1>About</h1>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="containerTrans">
    <p>
      SNCRS is the brain-child of the infamous Colton Lewis. Through sheer force of will, Colton herded his Saint Louis
      crew of cats into regular SmashNights. As time progessed, Colton poured hours upon hours into maintaining a scoring
      system designed to keep attendees competitive and interested. The original iterations were glorious, but required a
      great deal of work to maintain. To ease the burden, we have developed this flexible system for maintaining smash data
      and automations to pull and process data. We hope this tool will benefit other intrepid Smashers, allowing them to
      maintain the same type of system we have grown to love.
    </p>
  </div>
</div>
{% endblock %}
