{% extends "base.html" %}

{% block title %}
<h1>Calendar</h1>
{% endblock %}

{% block content %}
  <div class="container text-center table-wrapper">
    <iframe src="https://calendar.google.com/calendar/embed?height=1080&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=YXVtczQwZWYycDBscjJ2dmllczhsZjlwMjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23B39DDB&amp;title" style="border:solid 1px #777" width="100%" height="800" frameborder="0" scrolling="no"></iframe>
  </div>
{% endblock %}
