{% extends "base.html" %}

{% block title %}
<h1>Matchup Visuals</h1>
{% endblock %}

{% block content %}
<div class="container">
  <ul class="nav nav-tabs mb-3" id="matchupTabs" role="tablist">
    {% for game_title in game_title_list %}
    <li class="nav-item" role="presentation">
      <button class="nav-link {% if forloop.first %}active{% endif %}"
              id="tab-{{ game_title.pk }}"
              data-bs-toggle="tab"
              data-bs-target="#pane-{{ game_title.pk }}"
              type="button" role="tab">
        {{ game_title }}
      </button>
    </li>
    {% endfor %}
  </ul>

  <div class="tab-content" id="matchupTabContent">
    {% for game_title in game_title_list %}
    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
         id="pane-{{ game_title.pk }}"
         role="tabpanel">
      <div class="col">
        <div class="row" style="margin-bottom:10px">
          {% include 'data/game_matchups.html' with game_title=game_title %}
        </div>
        <div class="row">
          {% include 'data/set_matchups.html' with game_title=game_title %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
