{% extends "base.html" %}

{% block title %}
<h1>Player Profiles</h1>
{% endblock %}

{% block content %}
{% load static %}
<div class="container">
<div class="container table-wrapper">
  <table class="table table-dark table-bordered align-middle text-center table-sticky table-custom-striped">
    <thead>
      <tr class="sticky-top-row black-bg-row">
        <th scope="col">Team</th>
        <th scope="col">Name</th>
        <th scope="col">Place</th>
        <th scope="col">Score</th>
        <th scope="col" colspan="3">Mains</th>
        <th scope="col" colspan="2">Rivals</th>
        <th scope="col">Bracket Demon</th>
        <th scope="col">Friend Code</th>
      </tr>
      </thead>
      <tbody>
        {% for person in person_list %}
          <tr>
            <td>
              {% if person.team.logo %}
              <img style="max-width:75px; max-height:75px" src="{{person.team.logo.url}}" alt="Team logo for {{person.team.name}}">
              {% endif %}
            </td>
            <th>{{person.display_name}}</th>
            <td>{{person.rank}}</td>
            <td>{{person.score}}</td>

            {% if person.main_1 != None %}
            <td>
              <img 
                style= "max-width:75px; max-height:75px" 
                src="{% static person.main_1.static_image_name %}"
                onerror="this.onerror = null; this.src='{{person.main_1.image_url}}'"
                alt="{{person.main_1.name}}"
              >
            </td>
            {% else %}
            <td>--</td>
            {% endif %}

            {% if person.main_2 != None %}
            <td>
              <img
                style= "max-width:75px; max-height:75px" 
                src="{% static person.main_2.static_image_name %}"
                onerror="this.onerror = null; this.src='{{person.main_2.image_url}}'"
                alt="{{person.main_2.name}}"
              >
            </td>
            {% else %}
            <td>--</td>
            {% endif %}

            {% if person.main_3 != None %}
            <td>
              <img 
                style= "max-width:75px; max-height:75px" 
                src="{% static person.main_3.static_image_name %}"
                onerror="this.onerror = null; this.src='{{person.main_3.image_url}}'"
                alt="{{person.main_3.name}}"
              >
            </td>
            {% else %}
            <td>--</td>
            {% endif %}

            {% if person.rival_1 != None %}
              <td class="rival">{{person.rival_1.display_name}}</td>
            {% else %}
              <td>--</td>
            {% endif %}

            {% if person.rival_2 != None %}
              <td class="rival">{{person.rival_2.display_name}}</td>
            {% else %}
              <td>--</td>
            {% endif %}

            {% if person.bracket_demon != None %}
              <td class="demon">{{person.bracket_demon.display_name}}</td>
            {% else %}
              <td>--</td>
            {% endif %}

            <td>{{person.friend_code}}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
</div>

{% endblock %}
