{% extends "base.html" %}

{% block title %}
<h1 id="debug">SmashNight Venues</h1>
{% endblock %}

{% block content %}
{% load extra_filters %}
{% load static %}
<div class="container">
<div class="container table-wrapper">
    <table class="table table-bordered border-light bg-dark text-light text-center align-middle table-responsive table-sticky table-sticky-bordered">
      <thead>
        <tr class="sticky-top-row black-bg-row">
          <th scope="col"></th>
          <th scope="col"> Name </th>
          <th scope="col"> Description </th>
        </tr>
      </thead>
      <tbody>
         <!--  for venue in venue_set  -->
        {% for venue in venues %}
        <tr class="venueRow">
          <td class="venueCell" onmouseenter="showSlides(this)" onmouseleave="resetSlides(this)">
            {% for image in venue.images.all %}
              {% if forloop.counter == 1 %}
                <div class="mySlides"><img src="{{image.image.url}}" alt="pic" class="venuePic"></div>
              {% else %}
                <div class="mySlides" style="display:none"><img src="{{image.image.url}}" alt="pic" class="venuePic"></div>
              {% endif %}
            {% endfor %}
          </td>
          <td>{{venue.name}}</td>
          <td class="venueBio">{{venue.bio}}</td>
        </tr>
        {% endfor %}
        <!--  endfor  -->
      </tbody>
    </table>
</div>
</div>

<script>
var slideIndex = 0;
var showRunning;

function showSlides(ele) {
  var i;
  var slides = ele.querySelectorAll(".mySlides");
  for (i = 0; i < slides.length; i++) {
    if (i == slideIndex) {
      slides[i].style.display = "block";
    }
    else {
      slides[i].style.display = "none";
    }
  }
  slideIndex++;
  if (slideIndex >= slides.length) {slideIndex = 0}
  showRunning = setTimeout(showSlides, 1500, ele); // Change image every 1.5 seconds
}

function resetSlides(ele){
  clearTimeout(showRunning);
  var slides = ele.querySelectorAll(".mySlides");
  slideIndex = 0;
  for (i = 0; i < slides.length; i++) {
    if (i == slideIndex) {
      slides[i].style.display = "block";
    }
    else {
      slides[i].style.display = "none";
    }
  }  
}

</script>

{% endblock %}
